<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.memories">

    <application

        android:icon="@mipmap/mon_icone_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mon_icone_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">


        <activity android:name="com.example.memoris.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.memoris.Credits"
            android:label="credits"
            android:parentActivityName="com.example.memoris.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.memoris.MainActivity"/>
        </activity>

        <activity android:name="com.example.memoris.Jeu"
            android:label="jeu"
            android:parentActivityName="com.example.memoris.Timer_page">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.memoris.Timer_page"/>
        </activity>


        <activity android:name="com.example.memoris.Difficulty_page"
            android:label="difficulty_page"
            android:parentActivityName="com.example.memoris.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.memoris.MainActivity"/>
        </activity>


        <activity android:name="com.example.memoris.Timer_page"
            android:label="timer_page"
            android:parentActivityName="com.example.memoris.Difficulty_page">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.memoris.Difficulty_page"/>
        </activity>

        <activity android:name="com.example.memoris.Leaderboard"
            android:label="Leaderboard"
            android:parentActivityName="com.example.memoris.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.memoris.MainActivity"/>
        </activity>

        <activity android:name="com.example.memoris.Easy_User_Interface"
            android:label="Reponse_easy"
            android:parentActivityName="com.example.memoris.Jeu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.memoris.Jeu"/>
        </activity>

        <activity android:name="com.example.memoris.Results_page"
            android:label="Results_page"
            android:parentActivityName="com.example.memoris.Easy_User_Interface">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.memoris.Easy_User_Interface"/>
        </activity>

        <service
            android:name="com.example.memoris.Music_Background"
            android:enabled="true" />

    </application>

</manifest>